body {
    background-color: rgb(44, 44, 44);
}

#welcome_page a {
    cursor: pointer;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome_page {
    font-size: 50px;
    font-family: 'Noto Serif SC', serif;
}

#gacha {
    display: flex;
    justify-content:space-around;
    position: fixed;
    min-width: 1120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gacha {
    border-radius: 10px;
    background-color: white;
    width: 110px;
    height: 300px;
    position: relative;
    font-family: 'Noto Serif SC', serif;
    font-size: smaller;
}

.img-gacha {
    object-fit: cover;
    border-radius: 10px;
    width: 110px;
    height: 200px;
}

.gacha > p {
    position: relative;
    text-align: center !important;
    bottom: 0px;
}

@media only screen and (max-width: 1250px){
    #gacha {
        height: 605px;
        min-width: 560px;
        width: 50%;
        flex-wrap: wrap;
    }
}