body {
    background-color: rgb(44, 44, 44);
    font-family: 'Noto Serif SC', serif;
}

#welcome_page a {
    cursor: pointer;
}

#welcome_page a:hover {
    transition-duration: 0.4s;
    color: white;
}

.center {       /* This class is used to center div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#welcome_page {
    font-size: 50px;
    color:rgb(221, 197, 137);
}

#login, #signup{
    /*Border*/
    border: rgb(221, 197, 137);
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    /*Paddings*/
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 150px;
    padding-right: 150px;
}

form h2, form h3, form a {
    color:rgb(221, 197, 137);
}

form a {
    text-decoration: underline;
    cursor: pointer;
}

form a:hover {
    transition-duration: 0.4s;
    color: white;
}

.btn {
    /*Border*/
    border-color:rgb(221, 197, 137);
    border: 2px solid rgb(221, 197, 137);
    padding: 10px 30px;
    background-color:white;
    /*Font/Text*/
    font-family: 'Noto Serif SC', serif;
    font-size: 20px;
    font-weight: bolder;
    color:rgb(221, 197, 137);
}

.btn:hover {
    transition-duration: 0.4s;
    background-color:rgb(221, 197, 137);
    color:white;
}

.btn:disabled {
    background-color:rgb(221, 197, 137);
    color:white;
}

#main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#main-username {
    color:rgb(221, 197, 137);
}

#gacha {
    display: flex;
    justify-content:space-around;
    position: fixed;
    min-width: 1120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gacha {
    border-radius: 10px;
    background-color: white;
    width: 110px;
    height: 300px;
    position: relative;
    font-size: smaller;
}

.img-gacha {
    object-fit: cover;
    border-radius: 10px;
    width: 110px;
    height: 200px;
}

.gacha > p {
    position: relative;
    text-align: center !important;
    bottom: 0px;
}

@media only screen and (max-width: 1250px){
    #gacha {
        height: 605px;
        min-width: 560px;
        width: 50%;
        flex-wrap: wrap;
    }
}